.theSquare {
  border-color: green;
  border-width: thick;
  border-style: solid;
  height: 200px;
  width: 150px;
  float: center;
}

/*.theRow {
  float: left;
}*/

/*.jumbotron {
  color: #379683;
  background-color: #05386B;
}

.jumbotron h1 {
  margin-left: 100px;
}

body {
  color: #05386B;
  background-color: #379683;
}

button {
  margin-top: 20px;
  border-style: none;
  color: #EDF5E1;
  background-color: #05386B;
  border-radius: 5px;
}

.well {
  border-style: none;
  text-align: center;
}

.p1 {
  display: none;
  background-color: #5CDB95;
}
*/
